/* Page heading */
.intro {
  border: none;
  margin-top: 0;
  background-color: transparent;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 20rem;
  column-gap: 2rem;
  row-gap: 2rem;
}

.intro h1 {
  font-size: var(--font-size-xlarge);
  margin-bottom: 2.5rem;
  margin-top: 0;
}

.intro h1 span.subtitle {
  font-size: 1.15rem;
  display: block;
  margin-bottom: 0.5rem;
}

.intro p {
  font-size: 1.15rem;
  max-width: 45rem;
}

.intro h1 + p {
  padding: 0;
}

.intro ul {
  padding-left: 0;
  margin-left: 0;
}

/* Categories */
.categories {
  margin: 1rem 0;
}

.categories .cell {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  border: 1px solid var(--color-text);
  font-size: 0.875rem;
}
