header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	height: 100px;
}

footer {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

footer .logo {
	height: 50px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td {
	padding: 0 5px;
}

.volume {
	display: flex;
	align-items: center;
	position: relative;
	min-width: 300px;
}

.volume div {
	position: absolute;
	z-index: -1;
	left: 0;
	height: 100%;
	border: 1px solid #666;
	background-color: #eee;
	border-top: none;
	opacity: 0.5;
}

.volume div.desktop {
	background-color: #04c7fd;
	border-color: #12aef8;
}

.volume div.mobile {
	background-color: #a62aa4;
	border-color: #842486;
}

.chart {
	min-width: 310px;
	height: 400px;
	margin: 0 auto;
}
