/* General */
* {
  padding: 0;
  margin: 0;
}

main {
  color: var(--color-text);
}

h1 {
  font-size: var(--font-size-xlarge);
  font-weight: 500;
}

h2 {
  font-size: var(--font-size-large);
}

:is(a, button, select):focus {
  outline: 1.5px solid var(--color-teal-dark);
  outline-offset: 1.5px;
}

/* Hidden visually, but still accessible through screen readers/other AT */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Hidden for everyone */
.hidden {
  display: none;
}

.card {
  padding: 1.5rem;
  background: var(--color-card-background);
  border-radius: var(--card-radius);
  border: 1px solid var(--color-card-border);
  box-shadow: var(--card-shadow);
}

.card > :is(h2, h3, h4) {
  margin-top: 0;
}

.block-s {
  width: 50rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.block-m {
  width: 70rem;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.block-l {
  width: 85rem;
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
}

