.report-navigation {
  color: var(--color-text);
  background-color: var(--color-card-background);
  border-top: 1px solid var(--color-page-background);
  border-bottom: 1px solid var(--color-page-background);
}

.report-navigation ul li {
  text-transform: none;
}

.report-navigation ul li a {
  padding: 0.75rem 0.25rem;
}

.report-navigation ul li a[aria-current="page"] {
  border-bottom: 3px solid var(--color-text);
}

.report-navigation ul li:hover {
  background-color: transparent;
}

.report-navigation ul li a:hover {
  color: var(--color-text);
  background-color: transparent;
  text-decoration: none;
}

.report-navigation ul li a:not([aria-current="page"]):hover {
  border-bottom: 3px solid var(--color-teal-faded);
}

/* -------------------- */
/* ----- Sections ----- */
/* -------------------- */

/* Summary */
.summary h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Main data */
.page-data {
  margin-top: -4rem;
  padding: 8rem 0;
  border-top: 1px solid var(--color-teal-medium);
  background-image: linear-gradient(
    var(--color-teal-faded) 60%,
    var(--color-page-background)
  );
  background-size: 100% 25rem;
  background-repeat: no-repeat;
}