main {
  color: var(--color-text);
}

h1 {
  font-size: var(--font-size-xlarge);
}

h2 {
  font-size: var(--font-size-large);
}

.sr-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.card {
  padding: 1rem;
  background: var(--color-card-background);
  border-radius: 0.625rem;
  border: 1px solid var(--color-card-border);
  box-shadow: var(--shadow-card);
}

.block-s {
  width: 50rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.block-m {
  width: 70rem;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}


.block-l {
  width: 85rem;
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
}

/* Building blocks */
.cta-link {
  background-color: var(--color-teal-dark);
  color: var(--color-text-inverted);
  text-decoration: none;
  border-radius: 0.25rem;
  padding: 0.45rem 0.75rem;
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 600;
}

.cta-link:is(:hover, :focus) {
  color: var(--color-text-inverted);
  text-decoration: none;
  background-color: var(--color-teal-darker);
}

.cta-link:focus {
  outline: 1.5px solid var(--color-teal-dark);
  outline-offset: 1.5px;
}

.cta-link-wrapper {
  display: block;
  margin-top: 1rem;
}

/* -------------------- */
/* ---- Components ---- */
/* -------------------- */

/* Report navigation */
.report-navigation {
  color: var(--color-text);
  background-color: var(--color-card-background);
  border-top: 1px solid var(--color-page-background);
  border-bottom: 1px solid var(--color-page-background);
}

.report-navigation ul li {
  text-transform: none;
}

.report-navigation ul li a {
  padding: 0.75rem 0.25rem;
}

.report-navigation ul li a[aria-current="page"] {
  border-bottom: 3px solid var(--color-text);
}

.report-navigation ul li:hover {
  background-color: transparent;
}

.report-navigation ul li a:hover {
  color: var(--color-text);
  background-color: transparent;
  text-decoration: none;
}

.report-navigation ul li a:not([aria-current="page"]):hover {
  border-bottom: 3px solid var(--color-teal-faded);
}


/* Page heading */
.intro {
  border: none;
  margin-top: 0;
  background-color: transparent;
  padding: 4rem 0;
}

.intro h1 {
  font-size: var(--font-size-xlarge);
  margin-bottom: 2.5rem;
  margin-top: 0;
}

.intro h1 span {
  font-size: var(--font-size-regular);
  display: block;
  margin-bottom: 0.5rem;
}

.intro p {
  font-size: var(--font-size-regular);
}

.intro h1 + p {
  padding: 0;
}

/* Table */
.table-ui {
  width: 100%;
  margin: 1rem 0 2rem 0;
}

.table-ui tr {
  border-bottom: 1px solid var(--color-card-border);
  width: 100%;
}

.table-ui tr:last-child {
  border-bottom: none;
}

.table-ui thead {
  font-size: 14px;
}

.table-ui tbody tr :is(td, th) {
  padding: 1rem 0;
}

.table-ui tbody th {
  font-weight: normal;
}

.table-ui tr a {
  color: var(--color-link);
  text-decoration: underline;
}

/* Summary grid */
.summary-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
}

.summary-linked-label {
  font-weight: 600;
}

.summary-linked-label a {
  color: var(--color-link);
}

.summary-linked-label a:is(:hover, :focus) {
  color: var(--color-link);
  text-decoration: none;
}

.summary-linked-value {
  font-size: var(--font-size-medium);
  margin-top: -0.25rem;
}

.summary-linked-description {
  margin-top: -0.5rem;
  margin-bottom: 0;
}

/* Timeseries cards */
.timeseries-container {
  margin-top: 2rem;
}

.timeseries-title {
  font-size: var(--font-size-regular);
  margin-bottom: 0.75rem;
}

.timeseries-description {
  max-width: 50rem;
}

.timeseries-time {
  font-weight: 600;
  font-size: 1rem;
  margin: 0.75rem 0;
}