

main {
  color: var(--color-text);
}

.card {
  padding: 1rem;
  background: var(--color-card-background);
  border-radius: 0.625rem;
  border: 1px solid var(--color-card-border);
  box-shadow: var(--shadow-card);
}

.block-s {
  width: 50rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.block-m {
  width: 70rem;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}


.block-l {
  width: 85rem;
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  border: none;
  margin-top: 0;
  background-color: transparent;
  padding: 4rem 0;
}

.intro h1 {
  font-size: var(--font-size-large);
  margin-bottom: 2.5rem;
  margin-top: 0;
}

.intro h1 span {
  font-size: var(--font-size-regular);
  display: block;
  margin-bottom: 0.5rem;
}

.intro p {
  font-size: var(--font-size-regular);
}

.intro h1 + p {
  padding: 0;
}
