:root {
  --color-teal-faded: #c0ced0;
  --color-teal-medium: #6a797c;
  --color-teal-dark: #3a5c63;
  --color-teal-darker: #1c4750;
  --color-blue-dark: #3a7098;
  --color-link: var(--color-blue-dark);
  --color-text: #444;
  --color-text-inverted: #fff;
  --color-card-background: #fff;
  --color-card-border: #cdd4d6;
  --color-page-background: #f4f4f4;
  --card-shadow: 0 2px 7px 0px rgba(143, 149, 150, 0.05);
  --card-radius: 0.25rem;
  --font-size-medium: 1.75rem;
  --font-size-large: 2.15rem;
  --font-size-xlarge: 2.35rem;
}
