:root {
  --color-brand-faded: #A6BBBE;
  --color-brand-dark: #3A5C63;
  --color-brand-darker: #1C4750;

  --color-link: #24618E;

  --color-text: #444444;
  --color-text-inverted: #FFF;

  --color-card-background: #fff;
  --color-card-border: var(--color-brand-faded);

  --color-page-background: #f4f4f4;

  --shadow-card: 0 3px 12px -2px rgba(106, 121, 124, 0.2);

  --font-size-regular: 1.15rem;
  --font-size-medium: 1.75rem;
  --font-size-large: 2.25rem;
}