{% extends "main.html" %}


{% block title %}{% block error %}Unknown Error{% endblock %}{% endblock %}

{% block content %}
	<section>
		<div class="container">
			<div class="pddl0 col-lg-2 col-md-3 col-sm-3 col-xs-10">
				<a href="{{ url_for('index') }}">
					<img class="logo" src="/static/img/ha.png" alt="HTTP Archive"/>
				</a>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
				<h2>
					<small>Error</small> {{ self.error() }}
				</h2>

				{% block error_message %}
					<p>
						{{ error }}
					</p>

					<p>
						<a href="{{ url_for('index') }}" class="btn">Home</a>
						<a href="{{ url_for('reports') }}" class="btn alt">Reports</a>
					</p>
				{% endblock %}
			</div>
		</div>
	</section>
{% endblock %}

{% block scripts %}{% endblock %}
