{% extends "main.html" %}


{% block title %}FAQ{% endblock %}

{% block main %}
	<section class="alt-light">
		<div class="container">
			<div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
				<h2>
					FAQ
				</h2>

				<p>Coming soon ^_^</p>
			</div>
		</div>
	</section>

<!--
	<section class="alt">
		<div class="container">
			<div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
				<h2>
					Question
				</h2>

				<p>
					Answer
				</p>
			</div>
		</div>
	</section>
-->
{% endblock %}
