{% extends "main.html" %}


{% block title %}HTTP Archive (beta){% endblock %}

{% block main %}
	<section id="how-web-is-built" class="container">
		<div class="col-lg-5 col-sm-5 col-md-5 col-xs-12">
			<img src="/static/img/web.png" alt=""/>
		</div>

		<div class="col-lg-7 col-sm-7 col-md-7 col-xs-12">
			<h2>
				The <b>HTTP Archive</b> Tracks How the <b>Web is Built</b>.
			</h2>
			
			<p>
				We periodically crawl the top sites on the web and record detailed information about fetched resources, used web platform APIs and features, and execution traces of each page. We then crunch and analyze this data to identify trends.
			</p>
			
			<a href="{{ url_for('about') }}" class="btn">Learn More</a>
			<a href="{{ url_for('faq') }}" class="btn alt">Read the FAQ</a>
        </div>
	</section>

	<section class="alt">
		<div class="row">
			<div class="container">
				<div class="col-lg-4 col-sm-5 col-md-4 col-xs-12">
					<h2>
						<small>Featured Report:</small>
						JavaScript
					</h2>

					<p>Lorem ipsum</p>

					<a href="{{ url_for('reports') }}" class="btn alt">View The Report</a>
				</div>
			</div>
		</div>
	</section>

	<section id="bigquery">
		<div class="row">
			<div class="container">
				<div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
					<h2>
						<small>Public Dataset</small>
						Google BigQuery
					</h2>

					<p>The HTTP Archive data dumps are also available in Google BigQuery thanks to Ilya Grigorik. This means you can create your own custom queries like How many resources return Last-Modified and/or ETag values? and What is the distribution of 1st party vs 3rd party resources?. For more information see Ilya's blog post HTTP Archive + BigQuery = Web Performance Answers and video. And checkout all the custom queries shared on BigQueri.es.</p>

					<a href="#" class="btn">Learn More</a>
				</div>

				<div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
					<img src="/static/img/data.png" alt=""/>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
