{% extends "main.html" %}


{% block title %}{{ super() }} | Reports{% endblock %}

{% block main %}
	<h1>Reports</h1>

	<ul>
		{% for report_id, report in reports.items() %}
		<li class="timeseries">
			<a href="{{ url_for('report', report_id=report_id) }}">
				{{ report.name }}
			</a>

			<ul>
				{% for date in report.dates %}
				<li class="histogram">
					<a href="{{ url_for('report', report_id=report_id, date=date) }}">
						{{ date }}
					</a>
				</li>
				{% endfor %}
			</ul>

		</li>
		{% endfor %}
	</ul>
{% endblock %}
