{% extends "main.html" %}

{% block title %}HTTP Archive: {{ report.name }}{% endblock %}
{% block description %}{{ report.summary | markdown | striptags }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ get_versioned_filename('/static/css/dashboard.css') }}" />
{% endblock %}

{% block main %}

  {% block section %}{% endblock %}

  <p>Debug:</p>
  <ul>
    <li>
      <a href="/reports/{{ report.id }}/landing">Home</a>
    </li>
    <li>
      <a href="/reports/{{ report.id }}/drilldown">Drilldown</a>
    </li>
    <li>
      <a href="/reports/{{ report.id }}/comparison">Comparison</a>
    </li>
  </ul>
  
{% endblock %}